

.btn--width100{
  width: 100%;
  font-size: 12px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Grid */
.grid {
  display: grid;
}


@media screen and (min-width: 600px) {
  .grid--cols-2 {
    grid-template-columns: 200px 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-2 {
    grid-template-columns: 400px 1fr;
  }
}

